<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="description" content="Arkanoid">
	<meta name="keywords" content="canvas colisiones">
    <meta name="author" content="Jorge Cortes">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'games_platform/Arkanoid/style.css' %}">
    
    <title>Arkanoid</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
    </style>
    <script src=" {% static 'games_platform/Arkanoid/Scripts/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'games_platform/Arkanoid/Scripts/ball.js' %}" language="JavaScript1.2"></script>
    <script src="{% static 'games_platform/Arkanoid/Scripts/paddle.js' %}" language="JavaScript1.2"></script>
    <script src="{% static 'games_platform/Arkanoid/Scripts/brick.js' %}" language="JavaScript1.2"></script>
    <script src="{% static 'games_platform/Arkanoid/Scripts/script.js' %}" language="JavaScript1.2"></script>

</head>
<body>
    <section>
        <canvas id="myCanvas" width="480" height="320"></canvas>
    </section>
    <button class="btn" onclick="reload()">Volver a jugar</button>
</body>
</html>