{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Juego CrossyRoad">
		<meta name="keywords" content="canvas colisiones jquery ajax">		
		<title>Crossy Road</title>
		<link rel="stylesheet" type="text/css" href="{% static 'CrossyRoad/estilos/default.css' %}" media="screen">
		<script src="{% static 'CrossyRoad/js/jquery-1.11.0.min.js' %}" language="JavaScript1.2"></script>
		<script src="{% static 'CrossyRoad/js/gallina.js' %}" language="JavaScript1.2"></script>
		<script src="{% static 'CrossyRoad/js/carro.js' %}" language="JavaScript1.2"></script>
		<script src="{% static 'CrossyRoad/js/script.js' %}" language="JavaScript1.2"></script>
	</head>
	<body>
		<section>
			<canvas id="mi_canvas" width="640" height="480">
				Tu navegador no es compatible
			</canvas>
		</section>
		<section>
			<div id="popup" style="display: none;">
				<div class="content-popup">
					<div class="close"><a href="#" id="close"><img src="{% static 'CrossyRoad/imagenes/close.png' %}"/></a></div>
					<div>
					   <h2>Teclas de juego</h2>
					   <img src="{% static 'CrossyRoad/imagenes/teclado.png' %}"/>
					   <h2>Creditos</h2>
					   <p>Jorge Cortes, Laurent Chaverra, David Santos</p>
						<p>Universidad Distrital</p>
						<p>Modelos de Programacion 2</p>
					</div>
				</div>
			</div>
			<h1>CrossyRoad</h1>
			<button id="instrucciones">Ver Instrucciones</button><br>
			<button id="iniciar">Iniciar</button>
		</section>
		<audio id="pierde">
			<source src="{% static 'CrossyRoad/sonidos/pierde_vida.mp3' %}" type="audio/mpeg">
			Tu navegador no es compatible
		</audio>

		<img id="abajo" src="{% static 'CrossyRoad/imagenes/gallinaDer.png'%}"/>
		<img id="arriba" src="{% static 'CrossyRoad/imagenes/gallinaIzq.png'%}"/>
		<img id="salto" src="{% static 'CrossyRoad/imagenes/gallinaDer.png'%}"/>
		<img id="sentado" src="{% static 'CrossyRoad/imagenes/gallinaMuerta.png'%}"/>
		<img id="carro_izq" src="{% static 'CrossyRoad/imagenes/carro1.png'%}"/>
		<img id="carro_der" src="{% static 'CrossyRoad/imagenes/carro2.png'%}"/>

	</body>
</html>
