{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Pagina de inicio</h1>    
    <ul>
        <li><a href="{% url 'games_platform:register' %}">Registrarse</a></li>
        <li><a href="{% url 'games_platform:login' %}"></a>Iniciar sesion</li>
    </ul>    
</body>
</html>