<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>    
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
<form action="{% url 'games_platform:login' %}" method="post">
    {% csrf_token %}
    <label for="username">username: </label>
    <input type="text" name="username" id="username"><br>
    <input type="submit" value="registrarse">
</form>
</body>
</html>