{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'games_platform/Menu/Style/style.css'%}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>    
    <h1>Menu</h1>
    {% if game_list %}
        <label>Los juegos disponibles son: </label>
        <ul class="lista">
        {% for game in game_list %}
            <li><a href="{{ game.name }}">{{ game.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay juegos.</p>
    {% endif %}
</body>
</html>