<h1>{{ Registro }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'games_platform:register' %}" method="post">
    {% csrf_token %}
    <label for="username">username: </label>
    <input type="text" name="username" id="username"><br>
    <label for="name">nombre: </label>
    <input type="text" name="name" id="name"><br>
    <label for="last_name">apellido: </label>
    <input type="text" name="last_name" id="last_name"><br>
    <input type="submit" value="registrarse">
</form>