{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'games_platform/Registro/Style/style.css'%}" />    
</head>
<body>
    <h1>Registro</h1>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'games_platform:register' %}" method="post" class="form">
        <div class="form-group">
            {% csrf_token %}
            <label for="username">Username: </label><br>
            <input type="text" class="form-control" name="username" id="username" placeholder="Ingrese su nombre de usuario"><br>
            <label for="name">Nombre: </label><br>
            <input type="text" class="form-control" name="name" id="name" placeholder="Ingrese su nombre"><br>
            <label for="last_name">Apellido: </label><br>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Ingrese su apellido"><br>
            <br><input type="submit" class="btn-primary" value="REGISTRARSE"><br>
        </div>
    </form>
</body>
</html>
