{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Registro</h1>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'games_platform:register' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Ingrese su Username">
            <label for="name">Nombre: </label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Ingrese su nombre">
            <label for="last_name">Apellido: </label>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Ingrese su apellido">            
        </div>
        <input type="submit" class="btn btn-primary" value="REGISTRARSE">
    </form>
</body>
</html>
