body {
	background-color:#000000;
	background-size: cover;
	background:#000000 url('../Images/fondo3.jpg') no-repeat right center;
	text-align: center;
}

canvas {
	background:url('../Images/espacio.gif'), url('../Images/ArkanoidFondo.png');
	opacity: 2;
	cursor: none;
	color:#eeeeee;
	border:2px solid;
	border-color:#eeeeee;
    display: block;
    margin: 0 auto;
}
.btn{
	font-family: 'Bangers', cursive;
	color: rgb(254, 254, 255);
	font-size: large;
	border: 0;
	margin: 50px;
	background: #34495e;
  	padding: 12px 50px;
  	border-radius: 20px;
  	cursor: pointer;
  	transition: 0.5s;
}
.btn:hover{
	background: #2980b9;
}